# Don’t commit the following directories created by pub.
build/
packages

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map
*.sw?
.idea/

# Bower checks this out but we don't want it in the repo or package because
# packages/core_elements already has it.
lib/src/web-animations-js

# More things we don't need from Bower
lib/src/core-*/demo.html
lib/src/core-*/index.html

# Include when developing application packages.
pubspec.lock